@import '@vscode/codicons/dist/codicon';
@import url(./utils/highlight.css);
@import url(./ui/shadcn/shadcn.css);
@import url(./themes/index.css);

:root {
    --code-background: #222222;
    --code-foreground: #ffffff;
}

#root {
    height: 100%;
    margin: 0 auto;
    font-family: var(--vscode-font-family);
    color: var(--vscode-sideBar-foreground);
    background-color: var(--vscode-sideBar-background);
    --border-width: none;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: var(--vscode-sideBar-background);
}

a {
    font-weight: 500;
    color: var(--vscode-textLink-foreground);
    text-decoration: inherit;
}

a:hover {
    color: var(--vscode-textLink-activeForeground);
}

.w-100 {
    width: 100%;
}

.cody-chat-error {
    color: var(--vscode-input-foreground);
    background-color: var(--vscode-inputValidation-errorBackground);
    padding: 0.5rem;
}

.cody-chat-error > span {
    font-weight: bold;
}
